graft lambdasoc/software/bios/3rdparty/llvm-project/compiler-rt/lib/builtins
graft lambdasoc/software/bios/3rdparty/litex/litex/soc/software/include
include lambdasoc/software/bios/3rdparty/litex/litex/soc/cores/cpu/minerva/*.h
graft lambdasoc/software/bios/3rdparty/litex/litex/soc/software/libbase
graft lambdasoc/software/bios/3rdparty/litex/litex/soc/software/liblitedram
include lambdasoc/software/bios/Makefile
graft lambdasoc/software/bios/src
include lambdasoc/software/bios/toolchain.mk
graft lambdasoc/software/bios/util
