git+https://github.com/nmigen/nmigen
git+https://github.com/nmigen/nmigen-soc
git+https://github.com/nmigen/nmigen-stdio
git+https://github.com/nmigen/nmigen-boards
git+https://github.com/lambdaconcept/minerva
git+https://github.com/m-labs/asyncserial
